@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --background: rgb(9, 9, 9);
    --grid-line-color: #1a1616;
  }

  body {
    background-color: var(--background);
    background-image:
      linear-gradient(to right, var(--grid-line-color) 1px, transparent 1px),
      linear-gradient(to bottom, var(--grid-line-color) 1px, transparent 1px);
    background-size: 18px 18px;
  }
}